.dark_bg {
    background-color: #eeeeee;
}

/* .vc_custom_1500609725208 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609751255 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609768553 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609783110 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609751255 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609768553 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609783110 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609768553 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609707245 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609751255 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609768553 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609783110 {
    background-color: #eeeeee !important;
}

.vc_custom_1500609800558 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610009172 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610029190 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610100915 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610117702 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610194585 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610210809 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610287056 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610304022 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610365665 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610384402 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610486582 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610501159 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610601274 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610620105 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610710802 {
    background-color: #eeeeee !important;
}

.vc_custom_1500610726058 {
    background-color: #eeeeee !important;
} */

.extra_wide_padding {
    padding: 50px;
    border-radius: 30px !important;
}

.wide_padding {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1559153493873 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1519235601664 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1559153493873 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1519235601664 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1507512983465 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478121688 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478142981 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478161834 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478180475 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478212564 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478230933 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478251269 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478271846 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478291240 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478313640 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478332678 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478355365 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478376688 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478395867 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478413683 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478431427 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}

.vc_custom_1502478453187 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-radius: 30px !important;
}